@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;700&display=swap');

*{

    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Inter', sans-serif;
}

header{
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;

}


header > img{
    width: 10%;
}

.menu{
   display: inline-block;
   margin: 0px 16px;
   font-size: 16px;
}

.menu a{
    color: white;
    text-decoration: none;
}

.menu a:hover{
    color: lightgray;
}

.principal{
    background-image: linear-gradient(#424E61,#16CFF8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
    height: 600px;
}

.principal > img{
    width: 25%;
}

.conteudo{
    width: 45%;
    font-size: 1.1em;
}

.conteudo > h1{
    padding: 25px 0px;
    font-size: 32px;
    font-weight: bold;

}

.estudantes{
    background-color: #D9D9D9;
    padding: 10px;
}

.alunos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-evenly;
}

.estudante{
    text-align: center;
    padding: 16px 0;
}

.estudantes h2{
    text-align: center;
    padding: 50px;
}

.aluno{
    width: 120px;
}

.icone{
    width: 24px;
    padding: 4px 8px;
}


footer{
    background-color: black;
    text-align: center;
}

footer img{
    height: 25px;
    padding: 10px 0;
}
